/**
 * 
 * Custom Styles
 * 
 * @author => Joey Grable
 */

.gy {
	border-bottom: 0.25px solid red;
}

.gy-title {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.window-divide {
	background-color: rgba(0, 0, 0, 0.75);
	color: rgba(255, 255, 255, 0.6);
}

.gcol {
	border-right: 0.5px solid blue;
}

.gcol:last-child {
	border-right: none;
}

div:hover {
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	cursor: default;
}

.borders-green,
.contain {
	border-left: 1px solid darkgreen;
	border-right: 1px solid darkgreen;
}

.hide-scrollbar::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

.hide-scrollbar::-webkit-scrollbar-thumb {	background: #FF0000; } /* optional: show position indicator in red */
