/**
 * 
 * SCSS ROOT VARIABLES
 * 
 * @author Joey Grable
 */
/**
 * MEASUREMENSTS
 */
/**
 * GRID
 */
/**
 * BREAKPOINTS
 */
/**
 * TYPOGRAPHY VARIABLES
 */
/**
 * SPACING
 */
/** defaults **/
/** margin **/
/** padding **/
/**
 * COLORS
 */
/**
 * reset
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * base
 */
html {
  height: 100vh; }

body {
  min-height: 100%; }

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * 
 * FUNCTIONS
 * 
 */
/**
 * 
 * GX
 * 
 * @gcol-#	1,2,3,4,5,6,7,8,9,10,12,14,15,20,24,25
 * 
 */
.gx {
  width: 100%;
  /** .gx.gcol-25 **/
  /** .gx.gcol-24 **/
  /** .gx.gcol-20 **/
  /** .gx.gcol-15 **/
  /** .gx.gcol-14 **/
  /** .gx.gcol-12 **/
  /** .gx.gcol-10 **/
  /** .gx.gcol-9 **/
  /** .gx.gcol-8 **/
  /** .gx.gcol-7 **/
  /** .gx.gcol-6 **/
  /** .gx.gcol-5 **/
  /** .gx.gcol-4 **/
  /** .gx.gcol-3 **/
  /** .gx.gcol-2 **/
  /** .gx.gcol-1 **/ }
  .gx.gcol-25 > .span-1 {
    width: 4%; }
  .gx.gcol-25 > .span-2 {
    width: 8%; }
  .gx.gcol-25 > .span-3 {
    width: 12%; }
  .gx.gcol-25 > .span-4 {
    width: 16%; }
  .gx.gcol-25 > .span-5 {
    width: 20%; }
  .gx.gcol-25 > .span-6 {
    width: 24%; }
  .gx.gcol-25 > .span-7 {
    width: 28%; }
  .gx.gcol-25 > .span-8 {
    width: 32%; }
  .gx.gcol-25 > .span-9 {
    width: 36%; }
  .gx.gcol-25 > .span-10 {
    width: 40%; }
  .gx.gcol-25 > .span-11 {
    width: 44%; }
  .gx.gcol-25 > .span-12 {
    width: 48%; }
  .gx.gcol-25 > .span-13 {
    width: 52%; }
  .gx.gcol-25 > .span-14 {
    width: 56%; }
  .gx.gcol-25 > .span-15 {
    width: 60%; }
  .gx.gcol-25 > .span-16 {
    width: 64%; }
  .gx.gcol-25 > .span-17 {
    width: 68%; }
  .gx.gcol-25 > .span-18 {
    width: 72%; }
  .gx.gcol-25 > .span-19 {
    width: 76%; }
  .gx.gcol-25 > .span-20 {
    width: 80%; }
  .gx.gcol-25 > .span-21 {
    width: 84%; }
  .gx.gcol-25 > .span-22 {
    width: 88%; }
  .gx.gcol-25 > .span-23 {
    width: 92%; }
  .gx.gcol-25 > .span-24 {
    width: 96%; }
  .gx.gcol-25 > .span-25 {
    width: 100%; }
  .gx.gcol-24 > .span-1 {
    width: 4.1666666667%; }
  .gx.gcol-24 > .span-2 {
    width: 8.3333333333%; }
  .gx.gcol-24 > .span-3 {
    width: 12.5%; }
  .gx.gcol-24 > .span-4 {
    width: 16.6666666667%; }
  .gx.gcol-24 > .span-5 {
    width: 20.8333333333%; }
  .gx.gcol-24 > .span-6 {
    width: 25%; }
  .gx.gcol-24 > .span-7 {
    width: 29.1666666667%; }
  .gx.gcol-24 > .span-8 {
    width: 33.3333333333%; }
  .gx.gcol-24 > .span-9 {
    width: 37.5%; }
  .gx.gcol-24 > .span-10 {
    width: 41.6666666667%; }
  .gx.gcol-24 > .span-11 {
    width: 45.8333333333%; }
  .gx.gcol-24 > .span-12 {
    width: 50%; }
  .gx.gcol-24 > .span-13 {
    width: 54.1666666667%; }
  .gx.gcol-24 > .span-14 {
    width: 58.3333333333%; }
  .gx.gcol-24 > .span-15 {
    width: 62.5%; }
  .gx.gcol-24 > .span-16 {
    width: 66.6666666667%; }
  .gx.gcol-24 > .span-17 {
    width: 70.8333333333%; }
  .gx.gcol-24 > .span-18 {
    width: 75%; }
  .gx.gcol-24 > .span-19 {
    width: 79.1666666667%; }
  .gx.gcol-24 > .span-20 {
    width: 83.3333333333%; }
  .gx.gcol-24 > .span-21 {
    width: 87.5%; }
  .gx.gcol-24 > .span-22 {
    width: 91.6666666667%; }
  .gx.gcol-24 > .span-23 {
    width: 95.8333333333%; }
  .gx.gcol-24 > .span-24 {
    width: 100%; }
  .gx.gcol-20 > .span-1 {
    width: 5%; }
  .gx.gcol-20 > .span-2 {
    width: 10%; }
  .gx.gcol-20 > .span-3 {
    width: 15%; }
  .gx.gcol-20 > .span-4 {
    width: 20%; }
  .gx.gcol-20 > .span-5 {
    width: 25%; }
  .gx.gcol-20 > .span-6 {
    width: 30%; }
  .gx.gcol-20 > .span-7 {
    width: 35%; }
  .gx.gcol-20 > .span-8 {
    width: 40%; }
  .gx.gcol-20 > .span-9 {
    width: 45%; }
  .gx.gcol-20 > .span-10 {
    width: 50%; }
  .gx.gcol-20 > .span-11 {
    width: 55%; }
  .gx.gcol-20 > .span-12 {
    width: 60%; }
  .gx.gcol-20 > .span-13 {
    width: 65%; }
  .gx.gcol-20 > .span-14 {
    width: 70%; }
  .gx.gcol-20 > .span-15 {
    width: 75%; }
  .gx.gcol-20 > .span-16 {
    width: 80%; }
  .gx.gcol-20 > .span-17 {
    width: 85%; }
  .gx.gcol-20 > .span-18 {
    width: 90%; }
  .gx.gcol-20 > .span-19 {
    width: 95%; }
  .gx.gcol-20 > .span-20 {
    width: 100%; }
  .gx.gcol-15 > .span-1 {
    width: 6.6666666667%; }
  .gx.gcol-15 > .span-2 {
    width: 13.3333333333%; }
  .gx.gcol-15 > .span-3 {
    width: 20%; }
  .gx.gcol-15 > .span-4 {
    width: 26.6666666667%; }
  .gx.gcol-15 > .span-5 {
    width: 33.3333333333%; }
  .gx.gcol-15 > .span-6 {
    width: 40%; }
  .gx.gcol-15 > .span-7 {
    width: 46.6666666667%; }
  .gx.gcol-15 > .span-8 {
    width: 53.3333333333%; }
  .gx.gcol-15 > .span-9 {
    width: 60%; }
  .gx.gcol-15 > .span-10 {
    width: 66.6666666667%; }
  .gx.gcol-15 > .span-11 {
    width: 73.3333333333%; }
  .gx.gcol-15 > .span-12 {
    width: 80%; }
  .gx.gcol-15 > .span-13 {
    width: 86.6666666667%; }
  .gx.gcol-15 > .span-14 {
    width: 93.3333333333%; }
  .gx.gcol-15 > .span-15 {
    width: 100%; }
  .gx.gcol-14 > .span-1 {
    width: 7.1428571429%; }
  .gx.gcol-14 > .span-2 {
    width: 14.2857142857%; }
  .gx.gcol-14 > .span-3 {
    width: 21.4285714286%; }
  .gx.gcol-14 > .span-4 {
    width: 28.5714285714%; }
  .gx.gcol-14 > .span-5 {
    width: 35.7142857143%; }
  .gx.gcol-14 > .span-6 {
    width: 42.8571428571%; }
  .gx.gcol-14 > .span-7 {
    width: 50%; }
  .gx.gcol-14 > .span-8 {
    width: 57.1428571429%; }
  .gx.gcol-14 > .span-9 {
    width: 64.2857142857%; }
  .gx.gcol-14 > .span-10 {
    width: 71.4285714286%; }
  .gx.gcol-14 > .span-11 {
    width: 78.5714285714%; }
  .gx.gcol-14 > .span-12 {
    width: 85.7142857143%; }
  .gx.gcol-14 > .span-13 {
    width: 92.8571428571%; }
  .gx.gcol-14 > .span-14 {
    width: 100%; }
  .gx.gcol-12 > .span-1 {
    width: 8.3333333333%; }
  .gx.gcol-12 > .span-2 {
    width: 16.6666666667%; }
  .gx.gcol-12 > .span-3 {
    width: 25%; }
  .gx.gcol-12 > .span-4 {
    width: 33.3333333333%; }
  .gx.gcol-12 > .span-5 {
    width: 41.6666666667%; }
  .gx.gcol-12 > .span-6 {
    width: 50%; }
  .gx.gcol-12 > .span-7 {
    width: 58.3333333333%; }
  .gx.gcol-12 > .span-8 {
    width: 66.6666666667%; }
  .gx.gcol-12 > .span-9 {
    width: 75%; }
  .gx.gcol-12 > .span-10 {
    width: 83.3333333333%; }
  .gx.gcol-12 > .span-11 {
    width: 91.6666666667%; }
  .gx.gcol-12 > .span-12 {
    width: 100%; }
  .gx.gcol-10 > .span-1 {
    width: 10%; }
  .gx.gcol-10 > .span-2 {
    width: 20%; }
  .gx.gcol-10 > .span-3 {
    width: 30%; }
  .gx.gcol-10 > .span-4 {
    width: 40%; }
  .gx.gcol-10 > .span-5 {
    width: 50%; }
  .gx.gcol-10 > .span-6 {
    width: 60%; }
  .gx.gcol-10 > .span-7 {
    width: 70%; }
  .gx.gcol-10 > .span-8 {
    width: 80%; }
  .gx.gcol-10 > .span-9 {
    width: 90%; }
  .gx.gcol-10 > .span-10 {
    width: 100%; }
  .gx.gcol-9 > .span-1 {
    width: 11.1111111111%; }
  .gx.gcol-9 > .span-2 {
    width: 22.2222222222%; }
  .gx.gcol-9 > .span-3 {
    width: 33.3333333333%; }
  .gx.gcol-9 > .span-4 {
    width: 44.4444444444%; }
  .gx.gcol-9 > .span-5 {
    width: 55.5555555556%; }
  .gx.gcol-9 > .span-6 {
    width: 66.6666666667%; }
  .gx.gcol-9 > .span-7 {
    width: 77.7777777778%; }
  .gx.gcol-9 > .span-8 {
    width: 88.8888888889%; }
  .gx.gcol-9 > .span-9 {
    width: 100%; }
  .gx.gcol-8 > .span-1 {
    width: 12.5%; }
  .gx.gcol-8 > .span-2 {
    width: 25%; }
  .gx.gcol-8 > .span-3 {
    width: 37.5%; }
  .gx.gcol-8 > .span-4 {
    width: 50%; }
  .gx.gcol-8 > .span-5 {
    width: 62.5%; }
  .gx.gcol-8 > .span-6 {
    width: 75%; }
  .gx.gcol-8 > .span-7 {
    width: 87.5%; }
  .gx.gcol-8 > .span-8 {
    width: 100%; }
  .gx.gcol-7 > .span-1 {
    width: 14.2857142857%; }
  .gx.gcol-7 > .span-2 {
    width: 28.5714285714%; }
  .gx.gcol-7 > .span-3 {
    width: 42.8571428571%; }
  .gx.gcol-7 > .span-4 {
    width: 57.1428571429%; }
  .gx.gcol-7 > .span-5 {
    width: 71.4285714286%; }
  .gx.gcol-7 > .span-6 {
    width: 85.7142857143%; }
  .gx.gcol-7 > .span-7 {
    width: 100%; }
  .gx.gcol-6 > .span-1 {
    width: 16.6666666667%; }
  .gx.gcol-6 > .span-2 {
    width: 33.3333333333%; }
  .gx.gcol-6 > .span-3 {
    width: 50%; }
  .gx.gcol-6 > .span-4 {
    width: 66.6666666667%; }
  .gx.gcol-6 > .span-5 {
    width: 83.3333333333%; }
  .gx.gcol-6 > .span-6 {
    width: 100%; }
  .gx.gcol-5 > .span-1 {
    width: 20%; }
  .gx.gcol-5 > .span-2 {
    width: 40%; }
  .gx.gcol-5 > .span-3 {
    width: 60%; }
  .gx.gcol-5 > .span-4 {
    width: 80%; }
  .gx.gcol-5 > .span-5 {
    width: 100%; }
  .gx.gcol-4 > .span-1 {
    width: 25%; }
  .gx.gcol-4 > .span-2 {
    width: 50%; }
  .gx.gcol-4 > .span-3 {
    width: 75%; }
  .gx.gcol-4 > .span-4 {
    width: 100%; }
  .gx.gcol-3 > .span-1 {
    width: 33.3333333333%; }
  .gx.gcol-3 > .span-2 {
    width: 66.6666666667%; }
  .gx.gcol-3 > .span-3 {
    width: 100%; }
  .gx.gcol-2 > .span-1 {
    width: 50%; }
  .gx.gcol-2 > .span-2 {
    width: 100%; }
  .gx.gcol-1 > .span-1 {
    width: 100%; }

/**
-webkit-display: flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: nowrap;
flex-wrap: nowrap;
row | row-reverse | column | column-reverse
-webkit-flex-direction:;
flex-direction:;
wrap | wrap-reverse | nowrap
-webkit-flex-wrap:;
flex-wrap:;
flex-start | flex-end | space-between | space-around | center
-webkit-justify-content:;
justify-content:;
flex-start | flex-end | space-between | space-around | center
-webkit-align-items:;
align-items:;
flex-start | flex-end | space-between | space-around | center
-webkit-align-content:;
align-content:;
**/
/**
 * 
 * FUNCTIONS
 * 
 */
/**
 * 
 * GRID FLEX
 * 
 */
.gflex,
.gy-flex {
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .gflex .flex-center,
  .gy-flex .flex-center {
    /** FLEX CENTER **/
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    /* typography */
    text-align: center; }

.gy-scroll {
  /** window behaivor, scroll inner content **/
  max-height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll; }
  .gy-scroll::-webkit-scrollbar {
    /* remove scrollbar space */
    width: 0px;
    /* optional: just make scrollbar invisible */
    background: transparent; }
  .gy-scroll::-webkit-scrollbar-thumb {
    /* optional: show position indicator in red */
    background: #FF0000; }

/**
 * 
 * GY
 * 
 */
.gy {
  position: relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  /** viewport height **/
  /** percent **/
  /** pixel **/
  /** point: increment 1 **/
  /** point: increment 10 **/
  /** inch: increment 1 **/ }
  .gy .gy-fluid {
    /** fluid y-height, no Y constraint **/
    min-height: 100%; }
  .gy.grow-vh-1 {
    height: 1vh; }
  .gy.grow-vh-2 {
    height: 2vh; }
  .gy.grow-vh-3 {
    height: 3vh; }
  .gy.grow-vh-4 {
    height: 4vh; }
  .gy.grow-vh-5 {
    height: 5vh; }
  .gy.grow-vh-6 {
    height: 6vh; }
  .gy.grow-vh-7 {
    height: 7vh; }
  .gy.grow-vh-8 {
    height: 8vh; }
  .gy.grow-vh-9 {
    height: 9vh; }
  .gy.grow-vh-10 {
    height: 10vh; }
  .gy.grow-vh-11 {
    height: 11vh; }
  .gy.grow-vh-12 {
    height: 12vh; }
  .gy.grow-vh-13 {
    height: 13vh; }
  .gy.grow-vh-14 {
    height: 14vh; }
  .gy.grow-vh-15 {
    height: 15vh; }
  .gy.grow-vh-16 {
    height: 16vh; }
  .gy.grow-vh-17 {
    height: 17vh; }
  .gy.grow-vh-18 {
    height: 18vh; }
  .gy.grow-vh-19 {
    height: 19vh; }
  .gy.grow-vh-20 {
    height: 20vh; }
  .gy.grow-vh-21 {
    height: 21vh; }
  .gy.grow-vh-22 {
    height: 22vh; }
  .gy.grow-vh-23 {
    height: 23vh; }
  .gy.grow-vh-24 {
    height: 24vh; }
  .gy.grow-vh-25 {
    height: 25vh; }
  .gy.grow-vh-26 {
    height: 26vh; }
  .gy.grow-vh-27 {
    height: 27vh; }
  .gy.grow-vh-28 {
    height: 28vh; }
  .gy.grow-vh-29 {
    height: 29vh; }
  .gy.grow-vh-30 {
    height: 30vh; }
  .gy.grow-vh-31 {
    height: 31vh; }
  .gy.grow-vh-32 {
    height: 32vh; }
  .gy.grow-vh-33 {
    height: 33vh; }
  .gy.grow-vh-34 {
    height: 34vh; }
  .gy.grow-vh-35 {
    height: 35vh; }
  .gy.grow-vh-36 {
    height: 36vh; }
  .gy.grow-vh-37 {
    height: 37vh; }
  .gy.grow-vh-38 {
    height: 38vh; }
  .gy.grow-vh-39 {
    height: 39vh; }
  .gy.grow-vh-40 {
    height: 40vh; }
  .gy.grow-vh-41 {
    height: 41vh; }
  .gy.grow-vh-42 {
    height: 42vh; }
  .gy.grow-vh-43 {
    height: 43vh; }
  .gy.grow-vh-44 {
    height: 44vh; }
  .gy.grow-vh-45 {
    height: 45vh; }
  .gy.grow-vh-46 {
    height: 46vh; }
  .gy.grow-vh-47 {
    height: 47vh; }
  .gy.grow-vh-48 {
    height: 48vh; }
  .gy.grow-vh-49 {
    height: 49vh; }
  .gy.grow-vh-50 {
    height: 50vh; }
  .gy.grow-vh-51 {
    height: 51vh; }
  .gy.grow-vh-52 {
    height: 52vh; }
  .gy.grow-vh-53 {
    height: 53vh; }
  .gy.grow-vh-54 {
    height: 54vh; }
  .gy.grow-vh-55 {
    height: 55vh; }
  .gy.grow-vh-56 {
    height: 56vh; }
  .gy.grow-vh-57 {
    height: 57vh; }
  .gy.grow-vh-58 {
    height: 58vh; }
  .gy.grow-vh-59 {
    height: 59vh; }
  .gy.grow-vh-60 {
    height: 60vh; }
  .gy.grow-vh-61 {
    height: 61vh; }
  .gy.grow-vh-62 {
    height: 62vh; }
  .gy.grow-vh-63 {
    height: 63vh; }
  .gy.grow-vh-64 {
    height: 64vh; }
  .gy.grow-vh-65 {
    height: 65vh; }
  .gy.grow-vh-66 {
    height: 66vh; }
  .gy.grow-vh-67 {
    height: 67vh; }
  .gy.grow-vh-68 {
    height: 68vh; }
  .gy.grow-vh-69 {
    height: 69vh; }
  .gy.grow-vh-70 {
    height: 70vh; }
  .gy.grow-vh-71 {
    height: 71vh; }
  .gy.grow-vh-72 {
    height: 72vh; }
  .gy.grow-vh-73 {
    height: 73vh; }
  .gy.grow-vh-74 {
    height: 74vh; }
  .gy.grow-vh-75 {
    height: 75vh; }
  .gy.grow-vh-76 {
    height: 76vh; }
  .gy.grow-vh-77 {
    height: 77vh; }
  .gy.grow-vh-78 {
    height: 78vh; }
  .gy.grow-vh-79 {
    height: 79vh; }
  .gy.grow-vh-80 {
    height: 80vh; }
  .gy.grow-vh-81 {
    height: 81vh; }
  .gy.grow-vh-82 {
    height: 82vh; }
  .gy.grow-vh-83 {
    height: 83vh; }
  .gy.grow-vh-84 {
    height: 84vh; }
  .gy.grow-vh-85 {
    height: 85vh; }
  .gy.grow-vh-86 {
    height: 86vh; }
  .gy.grow-vh-87 {
    height: 87vh; }
  .gy.grow-vh-88 {
    height: 88vh; }
  .gy.grow-vh-89 {
    height: 89vh; }
  .gy.grow-vh-90 {
    height: 90vh; }
  .gy.grow-vh-91 {
    height: 91vh; }
  .gy.grow-vh-92 {
    height: 92vh; }
  .gy.grow-vh-93 {
    height: 93vh; }
  .gy.grow-vh-94 {
    height: 94vh; }
  .gy.grow-vh-95 {
    height: 95vh; }
  .gy.grow-vh-96 {
    height: 96vh; }
  .gy.grow-vh-97 {
    height: 97vh; }
  .gy.grow-vh-98 {
    height: 98vh; }
  .gy.grow-vh-99 {
    height: 99vh; }
  .gy.grow-vh-100 {
    height: 100vh; }
  .gy.grow-pct-1 {
    height: 1%; }
  .gy.grow-pct-2 {
    height: 2%; }
  .gy.grow-pct-3 {
    height: 3%; }
  .gy.grow-pct-4 {
    height: 4%; }
  .gy.grow-pct-5 {
    height: 5%; }
  .gy.grow-pct-6 {
    height: 6%; }
  .gy.grow-pct-7 {
    height: 7%; }
  .gy.grow-pct-8 {
    height: 8%; }
  .gy.grow-pct-9 {
    height: 9%; }
  .gy.grow-pct-10 {
    height: 10%; }
  .gy.grow-pct-11 {
    height: 11%; }
  .gy.grow-pct-12 {
    height: 12%; }
  .gy.grow-pct-13 {
    height: 13%; }
  .gy.grow-pct-14 {
    height: 14%; }
  .gy.grow-pct-15 {
    height: 15%; }
  .gy.grow-pct-16 {
    height: 16%; }
  .gy.grow-pct-17 {
    height: 17%; }
  .gy.grow-pct-18 {
    height: 18%; }
  .gy.grow-pct-19 {
    height: 19%; }
  .gy.grow-pct-20 {
    height: 20%; }
  .gy.grow-pct-21 {
    height: 21%; }
  .gy.grow-pct-22 {
    height: 22%; }
  .gy.grow-pct-23 {
    height: 23%; }
  .gy.grow-pct-24 {
    height: 24%; }
  .gy.grow-pct-25 {
    height: 25%; }
  .gy.grow-pct-26 {
    height: 26%; }
  .gy.grow-pct-27 {
    height: 27%; }
  .gy.grow-pct-28 {
    height: 28%; }
  .gy.grow-pct-29 {
    height: 29%; }
  .gy.grow-pct-30 {
    height: 30%; }
  .gy.grow-pct-31 {
    height: 31%; }
  .gy.grow-pct-32 {
    height: 32%; }
  .gy.grow-pct-33 {
    height: 33%; }
  .gy.grow-pct-34 {
    height: 34%; }
  .gy.grow-pct-35 {
    height: 35%; }
  .gy.grow-pct-36 {
    height: 36%; }
  .gy.grow-pct-37 {
    height: 37%; }
  .gy.grow-pct-38 {
    height: 38%; }
  .gy.grow-pct-39 {
    height: 39%; }
  .gy.grow-pct-40 {
    height: 40%; }
  .gy.grow-pct-41 {
    height: 41%; }
  .gy.grow-pct-42 {
    height: 42%; }
  .gy.grow-pct-43 {
    height: 43%; }
  .gy.grow-pct-44 {
    height: 44%; }
  .gy.grow-pct-45 {
    height: 45%; }
  .gy.grow-pct-46 {
    height: 46%; }
  .gy.grow-pct-47 {
    height: 47%; }
  .gy.grow-pct-48 {
    height: 48%; }
  .gy.grow-pct-49 {
    height: 49%; }
  .gy.grow-pct-50 {
    height: 50%; }
  .gy.grow-pct-51 {
    height: 51%; }
  .gy.grow-pct-52 {
    height: 52%; }
  .gy.grow-pct-53 {
    height: 53%; }
  .gy.grow-pct-54 {
    height: 54%; }
  .gy.grow-pct-55 {
    height: 55%; }
  .gy.grow-pct-56 {
    height: 56%; }
  .gy.grow-pct-57 {
    height: 57%; }
  .gy.grow-pct-58 {
    height: 58%; }
  .gy.grow-pct-59 {
    height: 59%; }
  .gy.grow-pct-60 {
    height: 60%; }
  .gy.grow-pct-61 {
    height: 61%; }
  .gy.grow-pct-62 {
    height: 62%; }
  .gy.grow-pct-63 {
    height: 63%; }
  .gy.grow-pct-64 {
    height: 64%; }
  .gy.grow-pct-65 {
    height: 65%; }
  .gy.grow-pct-66 {
    height: 66%; }
  .gy.grow-pct-67 {
    height: 67%; }
  .gy.grow-pct-68 {
    height: 68%; }
  .gy.grow-pct-69 {
    height: 69%; }
  .gy.grow-pct-70 {
    height: 70%; }
  .gy.grow-pct-71 {
    height: 71%; }
  .gy.grow-pct-72 {
    height: 72%; }
  .gy.grow-pct-73 {
    height: 73%; }
  .gy.grow-pct-74 {
    height: 74%; }
  .gy.grow-pct-75 {
    height: 75%; }
  .gy.grow-pct-76 {
    height: 76%; }
  .gy.grow-pct-77 {
    height: 77%; }
  .gy.grow-pct-78 {
    height: 78%; }
  .gy.grow-pct-79 {
    height: 79%; }
  .gy.grow-pct-80 {
    height: 80%; }
  .gy.grow-pct-81 {
    height: 81%; }
  .gy.grow-pct-82 {
    height: 82%; }
  .gy.grow-pct-83 {
    height: 83%; }
  .gy.grow-pct-84 {
    height: 84%; }
  .gy.grow-pct-85 {
    height: 85%; }
  .gy.grow-pct-86 {
    height: 86%; }
  .gy.grow-pct-87 {
    height: 87%; }
  .gy.grow-pct-88 {
    height: 88%; }
  .gy.grow-pct-89 {
    height: 89%; }
  .gy.grow-pct-90 {
    height: 90%; }
  .gy.grow-pct-91 {
    height: 91%; }
  .gy.grow-pct-92 {
    height: 92%; }
  .gy.grow-pct-93 {
    height: 93%; }
  .gy.grow-pct-94 {
    height: 94%; }
  .gy.grow-pct-95 {
    height: 95%; }
  .gy.grow-pct-96 {
    height: 96%; }
  .gy.grow-pct-97 {
    height: 97%; }
  .gy.grow-pct-98 {
    height: 98%; }
  .gy.grow-pct-99 {
    height: 99%; }
  .gy.grow-pct-100 {
    height: 100%; }
  .gy.grow-px-1 {
    height: 1px; }
  .gy.grow-px-2 {
    height: 2px; }
  .gy.grow-px-3 {
    height: 3px; }
  .gy.grow-px-4 {
    height: 4px; }
  .gy.grow-px-5 {
    height: 5px; }
  .gy.grow-px-6 {
    height: 6px; }
  .gy.grow-px-7 {
    height: 7px; }
  .gy.grow-px-8 {
    height: 8px; }
  .gy.grow-px-9 {
    height: 9px; }
  .gy.grow-px-10 {
    height: 10px; }
  .gy.grow-px-11 {
    height: 11px; }
  .gy.grow-px-12 {
    height: 12px; }
  .gy.grow-px-13 {
    height: 13px; }
  .gy.grow-px-14 {
    height: 14px; }
  .gy.grow-px-15 {
    height: 15px; }
  .gy.grow-px-16 {
    height: 16px; }
  .gy.grow-px-17 {
    height: 17px; }
  .gy.grow-px-18 {
    height: 18px; }
  .gy.grow-px-19 {
    height: 19px; }
  .gy.grow-px-20 {
    height: 20px; }
  .gy.grow-px-21 {
    height: 21px; }
  .gy.grow-px-22 {
    height: 22px; }
  .gy.grow-px-23 {
    height: 23px; }
  .gy.grow-px-24 {
    height: 24px; }
  .gy.grow-px-25 {
    height: 25px; }
  .gy.grow-px-26 {
    height: 26px; }
  .gy.grow-px-27 {
    height: 27px; }
  .gy.grow-px-28 {
    height: 28px; }
  .gy.grow-px-29 {
    height: 29px; }
  .gy.grow-px-30 {
    height: 30px; }
  .gy.grow-px-31 {
    height: 31px; }
  .gy.grow-px-32 {
    height: 32px; }
  .gy.grow-px-33 {
    height: 33px; }
  .gy.grow-px-34 {
    height: 34px; }
  .gy.grow-px-35 {
    height: 35px; }
  .gy.grow-px-36 {
    height: 36px; }
  .gy.grow-px-37 {
    height: 37px; }
  .gy.grow-px-38 {
    height: 38px; }
  .gy.grow-px-39 {
    height: 39px; }
  .gy.grow-px-40 {
    height: 40px; }
  .gy.grow-px-41 {
    height: 41px; }
  .gy.grow-px-42 {
    height: 42px; }
  .gy.grow-px-43 {
    height: 43px; }
  .gy.grow-px-44 {
    height: 44px; }
  .gy.grow-px-45 {
    height: 45px; }
  .gy.grow-px-46 {
    height: 46px; }
  .gy.grow-px-47 {
    height: 47px; }
  .gy.grow-px-48 {
    height: 48px; }
  .gy.grow-px-49 {
    height: 49px; }
  .gy.grow-px-50 {
    height: 50px; }
  .gy.grow-px-51 {
    height: 51px; }
  .gy.grow-px-52 {
    height: 52px; }
  .gy.grow-px-53 {
    height: 53px; }
  .gy.grow-px-54 {
    height: 54px; }
  .gy.grow-px-55 {
    height: 55px; }
  .gy.grow-px-56 {
    height: 56px; }
  .gy.grow-px-57 {
    height: 57px; }
  .gy.grow-px-58 {
    height: 58px; }
  .gy.grow-px-59 {
    height: 59px; }
  .gy.grow-px-60 {
    height: 60px; }
  .gy.grow-px-61 {
    height: 61px; }
  .gy.grow-px-62 {
    height: 62px; }
  .gy.grow-px-63 {
    height: 63px; }
  .gy.grow-px-64 {
    height: 64px; }
  .gy.grow-px-65 {
    height: 65px; }
  .gy.grow-px-66 {
    height: 66px; }
  .gy.grow-px-67 {
    height: 67px; }
  .gy.grow-px-68 {
    height: 68px; }
  .gy.grow-px-69 {
    height: 69px; }
  .gy.grow-px-70 {
    height: 70px; }
  .gy.grow-px-71 {
    height: 71px; }
  .gy.grow-px-72 {
    height: 72px; }
  .gy.grow-px-73 {
    height: 73px; }
  .gy.grow-px-74 {
    height: 74px; }
  .gy.grow-px-75 {
    height: 75px; }
  .gy.grow-px-76 {
    height: 76px; }
  .gy.grow-px-77 {
    height: 77px; }
  .gy.grow-px-78 {
    height: 78px; }
  .gy.grow-px-79 {
    height: 79px; }
  .gy.grow-px-80 {
    height: 80px; }
  .gy.grow-px-81 {
    height: 81px; }
  .gy.grow-px-82 {
    height: 82px; }
  .gy.grow-px-83 {
    height: 83px; }
  .gy.grow-px-84 {
    height: 84px; }
  .gy.grow-px-85 {
    height: 85px; }
  .gy.grow-px-86 {
    height: 86px; }
  .gy.grow-px-87 {
    height: 87px; }
  .gy.grow-px-88 {
    height: 88px; }
  .gy.grow-px-89 {
    height: 89px; }
  .gy.grow-px-90 {
    height: 90px; }
  .gy.grow-px-91 {
    height: 91px; }
  .gy.grow-px-92 {
    height: 92px; }
  .gy.grow-px-93 {
    height: 93px; }
  .gy.grow-px-94 {
    height: 94px; }
  .gy.grow-px-95 {
    height: 95px; }
  .gy.grow-px-96 {
    height: 96px; }
  .gy.grow-px-97 {
    height: 97px; }
  .gy.grow-px-98 {
    height: 98px; }
  .gy.grow-px-99 {
    height: 99px; }
  .gy.grow-px-100 {
    height: 100px; }
  .gy.grow-pt-1 {
    height: 1pt; }
  .gy.grow-pt-2 {
    height: 2pt; }
  .gy.grow-pt-3 {
    height: 3pt; }
  .gy.grow-pt-4 {
    height: 4pt; }
  .gy.grow-pt-5 {
    height: 5pt; }
  .gy.grow-pt-6 {
    height: 6pt; }
  .gy.grow-pt-7 {
    height: 7pt; }
  .gy.grow-pt-8 {
    height: 8pt; }
  .gy.grow-pt-9 {
    height: 9pt; }
  .gy.grow-pt-10 {
    height: 10pt; }
  .gy.grow-pt-11 {
    height: 11pt; }
  .gy.grow-pt-12 {
    height: 12pt; }
  .gy.grow-pt-13 {
    height: 13pt; }
  .gy.grow-pt-14 {
    height: 14pt; }
  .gy.grow-pt-15 {
    height: 15pt; }
  .gy.grow-pt-16 {
    height: 16pt; }
  .gy.grow-pt-17 {
    height: 17pt; }
  .gy.grow-pt-18 {
    height: 18pt; }
  .gy.grow-pt-19 {
    height: 19pt; }
  .gy.grow-pt-20 {
    height: 20pt; }
  .gy.grow-pt-21 {
    height: 21pt; }
  .gy.grow-pt-22 {
    height: 22pt; }
  .gy.grow-pt-23 {
    height: 23pt; }
  .gy.grow-pt-24 {
    height: 24pt; }
  .gy.grow-pt-25 {
    height: 25pt; }
  .gy.grow-pt-26 {
    height: 26pt; }
  .gy.grow-pt-27 {
    height: 27pt; }
  .gy.grow-pt-28 {
    height: 28pt; }
  .gy.grow-pt-29 {
    height: 29pt; }
  .gy.grow-pt-30 {
    height: 30pt; }
  .gy.grow-pt-31 {
    height: 31pt; }
  .gy.grow-pt-32 {
    height: 32pt; }
  .gy.grow-pt-33 {
    height: 33pt; }
  .gy.grow-pt-34 {
    height: 34pt; }
  .gy.grow-pt-35 {
    height: 35pt; }
  .gy.grow-pt-36 {
    height: 36pt; }
  .gy.grow-pt-37 {
    height: 37pt; }
  .gy.grow-pt-38 {
    height: 38pt; }
  .gy.grow-pt-39 {
    height: 39pt; }
  .gy.grow-pt-40 {
    height: 40pt; }
  .gy.grow-pt-41 {
    height: 41pt; }
  .gy.grow-pt-42 {
    height: 42pt; }
  .gy.grow-pt-43 {
    height: 43pt; }
  .gy.grow-pt-44 {
    height: 44pt; }
  .gy.grow-pt-45 {
    height: 45pt; }
  .gy.grow-pt-46 {
    height: 46pt; }
  .gy.grow-pt-47 {
    height: 47pt; }
  .gy.grow-pt-48 {
    height: 48pt; }
  .gy.grow-pt-49 {
    height: 49pt; }
  .gy.grow-pt-50 {
    height: 50pt; }
  .gy.grow-pt-51 {
    height: 51pt; }
  .gy.grow-pt-52 {
    height: 52pt; }
  .gy.grow-pt-53 {
    height: 53pt; }
  .gy.grow-pt-54 {
    height: 54pt; }
  .gy.grow-pt-55 {
    height: 55pt; }
  .gy.grow-pt-56 {
    height: 56pt; }
  .gy.grow-pt-57 {
    height: 57pt; }
  .gy.grow-pt-58 {
    height: 58pt; }
  .gy.grow-pt-59 {
    height: 59pt; }
  .gy.grow-pt-60 {
    height: 60pt; }
  .gy.grow-pt-61 {
    height: 61pt; }
  .gy.grow-pt-62 {
    height: 62pt; }
  .gy.grow-pt-63 {
    height: 63pt; }
  .gy.grow-pt-64 {
    height: 64pt; }
  .gy.grow-pt-65 {
    height: 65pt; }
  .gy.grow-pt-66 {
    height: 66pt; }
  .gy.grow-pt-67 {
    height: 67pt; }
  .gy.grow-pt-68 {
    height: 68pt; }
  .gy.grow-pt-69 {
    height: 69pt; }
  .gy.grow-pt-70 {
    height: 70pt; }
  .gy.grow-pt-71 {
    height: 71pt; }
  .gy.grow-pt-72 {
    height: 72pt; }
  .gy.grow-pt-73 {
    height: 73pt; }
  .gy.grow-pt-74 {
    height: 74pt; }
  .gy.grow-pt-75 {
    height: 75pt; }
  .gy.grow-pt-76 {
    height: 76pt; }
  .gy.grow-pt-77 {
    height: 77pt; }
  .gy.grow-pt-78 {
    height: 78pt; }
  .gy.grow-pt-79 {
    height: 79pt; }
  .gy.grow-pt-80 {
    height: 80pt; }
  .gy.grow-pt-81 {
    height: 81pt; }
  .gy.grow-pt-82 {
    height: 82pt; }
  .gy.grow-pt-83 {
    height: 83pt; }
  .gy.grow-pt-84 {
    height: 84pt; }
  .gy.grow-pt-85 {
    height: 85pt; }
  .gy.grow-pt-86 {
    height: 86pt; }
  .gy.grow-pt-87 {
    height: 87pt; }
  .gy.grow-pt-88 {
    height: 88pt; }
  .gy.grow-pt-89 {
    height: 89pt; }
  .gy.grow-pt-90 {
    height: 90pt; }
  .gy.grow-pt-91 {
    height: 91pt; }
  .gy.grow-pt-92 {
    height: 92pt; }
  .gy.grow-pt-93 {
    height: 93pt; }
  .gy.grow-pt-94 {
    height: 94pt; }
  .gy.grow-pt-95 {
    height: 95pt; }
  .gy.grow-pt-96 {
    height: 96pt; }
  .gy.grow-pt-97 {
    height: 97pt; }
  .gy.grow-pt-98 {
    height: 98pt; }
  .gy.grow-pt-99 {
    height: 99pt; }
  .gy.grow-pt-100 {
    height: 100pt; }
  .gy.grow-pt-10 {
    height: 10pt; }
  .gy.grow-pt-20 {
    height: 20pt; }
  .gy.grow-pt-30 {
    height: 30pt; }
  .gy.grow-pt-40 {
    height: 40pt; }
  .gy.grow-pt-50 {
    height: 50pt; }
  .gy.grow-pt-60 {
    height: 60pt; }
  .gy.grow-pt-70 {
    height: 70pt; }
  .gy.grow-pt-80 {
    height: 80pt; }
  .gy.grow-pt-90 {
    height: 90pt; }
  .gy.grow-pt-100 {
    height: 100pt; }
  .gy.grow-pt-110 {
    height: 110pt; }
  .gy.grow-pt-120 {
    height: 120pt; }
  .gy.grow-pt-130 {
    height: 130pt; }
  .gy.grow-pt-140 {
    height: 140pt; }
  .gy.grow-pt-150 {
    height: 150pt; }
  .gy.grow-pt-160 {
    height: 160pt; }
  .gy.grow-pt-170 {
    height: 170pt; }
  .gy.grow-pt-180 {
    height: 180pt; }
  .gy.grow-pt-190 {
    height: 190pt; }
  .gy.grow-pt-200 {
    height: 200pt; }
  .gy.grow-pt-210 {
    height: 210pt; }
  .gy.grow-pt-220 {
    height: 220pt; }
  .gy.grow-pt-230 {
    height: 230pt; }
  .gy.grow-pt-240 {
    height: 240pt; }
  .gy.grow-pt-250 {
    height: 250pt; }
  .gy.grow-pt-260 {
    height: 260pt; }
  .gy.grow-pt-270 {
    height: 270pt; }
  .gy.grow-pt-280 {
    height: 280pt; }
  .gy.grow-pt-290 {
    height: 290pt; }
  .gy.grow-pt-300 {
    height: 300pt; }
  .gy.grow-in-1 {
    height: 96px; }
  .gy.grow-in-2 {
    height: 192px; }
  .gy.grow-in-3 {
    height: 288px; }
  .gy.grow-in-4 {
    height: 384px; }
  .gy.grow-in-5 {
    height: 480px; }
  .gy.grow-in-6 {
    height: 576px; }
  .gy.grow-in-7 {
    height: 672px; }
  .gy.grow-in-8 {
    height: 768px; }
  .gy.grow-in-9 {
    height: 864px; }
  .gy.grow-in-10 {
    height: 960px; }
  .gy.grow-in-11 {
    height: 1056px; }
  .gy.grow-in-12 {
    height: 1152px; }
  .gy.grow-in-13 {
    height: 1248px; }
  .gy.grow-in-14 {
    height: 1344px; }
  .gy.grow-in-15 {
    height: 1440px; }
  .gy.grow-in-16 {
    height: 1536px; }
  .gy.grow-in-17 {
    height: 1632px; }
  .gy.grow-in-18 {
    height: 1728px; }
  .gy.grow-in-19 {
    height: 1824px; }
  .gy.grow-in-20 {
    height: 1920px; }
  .gy.grow-in-21 {
    height: 2016px; }
  .gy.grow-in-22 {
    height: 2112px; }
  .gy.grow-in-23 {
    height: 2208px; }
  .gy.grow-in-24 {
    height: 2304px; }
  .gy.grow-in-25 {
    height: 2400px; }

.no-scrollbar::-webkit-scrollbar {
  /* remove scrollbar space */
  width: 0px;
  /* optional: just make scrollbar invisible */
  background: transparent; }

.no-scrollbar::-webkit-scrollbar-thumb {
  /* optional: show position indicator in red */
  background: #FF0000; }

/**
 * Z GRID
 */
/**

=========================
Basic Box Properties
=========================
display
width
height
position
right
top
bottom
left
z-index
float
vertical-align
clear
clip
visibility

margin
margin-bottom
margin-left
margin-right
margin-top
max-height
max-width
min-height
min-width
overflow
overflow-x
overflow-y
padding
padding-bottom
padding-left
padding-right
padding-top


=========================
Flexible Box Layout
=========================
align-content
align-items
align-self
flex
flex-basis
flex-direction
flex-flow
flex-grow
flex-shrink
flex-wrap
justify-content
order

**/
/**
 * GRID C
 * 
 * .gc 		==> content blocks
 * .gc-block.mode		==> content mode/instance/behavior
 * 					(mode = center, float-left/right, etc.?)
 * 
 * 		.gc-type	==> content type
 *						type = div, text, image, video, obj, etc.?)
 */
/** gc **/
.gc {
  display: block;
  position: relative;
  width: auto;
  height: auto; }

/** gc-center **/
.gc-block.center {
  margin: 0 auto; }

/** gc-left **/
.gc-block.left,
.float-left {
  float: left; }

/** gc-right **/
.gc-block.right,
.float-right {
  float: right; }

/** gc-text **/
/** gc-img **/
/** gc-video **/
/** gc-object **/
/** clearfix **/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/**
 * positioning
 * 
 * (local = top, right, bottom, left)
 */
/** flex **/
/** relative **/
/** absolute **/
/** fixed **/
/** gc-nav **/
nav.gc-nav {
  display: block; }

nav.gc-nav a {
  display: block; }

nav.gc-nav .lvl-1 {
  margin-left: 0px; }

nav.gc-nav .lvl-2 {
  margin-left: 1.414em; }

/**
 * vh
 **/
.vh-100 {
  height: 100vh; }

.vh-90 {
  height: 90vh; }

.vh-80 {
  height: 80vh; }

.vh-70 {
  height: 70vh; }

.vh-60 {
  height: 60vh; }

.vh-50 {
  height: 50vh; }

.vh-40 {
  height: 40vh; }

.vh-30 {
  height: 30vh; }

.vh-20 {
  height: 20vh; }

.vh-10 {
  height: 10vh; }

.vh-66 {
  height: 66.666vh; }

.vh-33 {
  height: 33.333vh; }

.vh-75 {
  height: 75vh; }

.vh-25 {
  height: 25vh; }

/**
 * percent
 **/
.pct-100 {
  height: 100%; }

.pct-90 {
  height: 90%; }

.pct-80 {
  height: 80%; }

.pct-70 {
  height: 70%; }

.pct-60 {
  height: 60%; }

.pct-50 {
  height: 50%; }

.pct-40 {
  height: 40%; }

.pct-30 {
  height: 30%; }

.pct-20 {
  height: 20%; }

.pct-10 {
  height: 10%; }

.pct-66 {
  height: 66.666%; }

.pct-33 {
  height: 33.333%; }

.pct-75 {
  height: 75%; }

.pct-25 {
  height: 25%; }

/**
 * pixel
 **/
.px-10 {
  height: 10px; }

.px-20 {
  height: 20px; }

.px-30 {
  height: 30px; }

.px-40 {
  height: 40px; }

.px-50 {
  height: 50px; }

.px-60 {
  height: 60px; }

.px-70 {
  height: 70px; }

.px-80 {
  height: 80px; }

.px-90 {
  height: 90px; }

.px-100 {
  height: 100px; }

/**
 * point: multiples of 10
 **/
.pt-10 {
  height: 10pt; }

.pt-20 {
  height: 20pt; }

.pt-30 {
  height: 30pt; }

.pt-40 {
  height: 40pt; }

.pt-50 {
  height: 50pt; }

.pt-60 {
  height: 60pt; }

.pt-70 {
  height: 70pt; }

.pt-80 {
  height: 80pt; }

.pt-90 {
  height: 90pt; }

.pt-100 {
  height: 100pt; }

/**
 * point: 12pt scale
 **/
.pt-12 {
  height: 12pt; }

.pt-24 {
  height: 24pt; }

.pt-36 {
  height: 36pt; }

.pt-48 {
  height: 48pt; }

.pt-60 {
  height: 60pt; }

.pt-72 {
  height: 72pt; }

.pt-96 {
  height: 96pt; }

.pt-108 {
  height: 108pt; }

.pt-120 {
  height: 120pt; }

.pt-132 {
  height: 132pt; }

.pt-144 {
  height: 144pt; }

.pt-156 {
  height: 156pt; }

.pt-168 {
  height: 168pt; }

.pt-180 {
  height: 180pt; }

.pt-192 {
  height: 192pt; }

.pt-204 {
  height: 204pt; }

.pt-216 {
  height: 216pt; }

.pt-228 {
  height: 228pt; }

.pt-240 {
  height: 240pt; }

.pt-252 {
  height: 252pt; }

.pt-264 {
  height: 264pt; }

.pt-276 {
  height: 276pt; }

.pt-288 {
  height: 288pt; }

.pt-300 {
  height: 300pt; }

/**
 * inches
 **/
.in-1 {
  height: 96px; }

.in-2 {
  height: 192px; }

.in-3 {
  height: 288px; }

.in-4 {
  height: 384px; }

.in-5 {
  height: 480px; }

.in-6 {
  height: 576px; }

.in-7 {
  height: 672px; }

.in-8 {
  height: 768px; }

.in-9 {
  height: 864px; }

.in-10 {
  height: 960px; }

.in-11 {
  height: 1056px; }

.in-12 {
  height: 1152px; }

.in-13 {
  height: 1248px; }

.in-14 {
  height: 1344px; }

.in-15 {
  height: 1440px; }

.in-16 {
  height: 1536px; }

.in-17 {
  height: 1632px; }

.in-18 {
  height: 1728px; }

.in-19 {
  height: 1824px; }

.in-20 {
  height: 1920px; }

/** CONTAINERS **/
.contain {
  margin: auto; }
  .contain.c1920 {
    max-width: 1920px; }
  .contain.c1320 {
    max-width: 1320px; }
  .contain.c1440 {
    max-width: 1440px; }
  .contain.c1260 {
    max-width: 1260px; }
  .contain.c1080 {
    max-width: 1080px; }
  .contain.c960 {
    max-width: 960px; }
  .contain.c840 {
    max-width: 840px; }
  .contain.c720 {
    max-width: 720px; }
  .contain.c540 {
    max-width: 540px; }
  .contain.c480 {
    max-width: 480px; }

/** margin **/
.margin {
  margin: 4.242em; }

.margin-base {
  margin: 1em; }

.margin-xs {
  margin: 1.414em; }

.margin-sm {
  margin: 2.828em; }

.margin-md {
  margin: 4.242em; }

.margin-lg {
  margin: 5.656em; }

.margin-xl {
  margin: 8.484em; }

.margin-xxl {
  margin: 16.968em; }

.margin-xxxl {
  margin: 22.624em; }

.margin-none {
  margin: 0px; }

.margin-top {
  margin-top: 4.242em; }

.margin-top-base {
  margin-top: 1em; }

.margin-top-xs {
  margin-top: 1.414em; }

.margin-top-sm {
  margin-top: 2.828em; }

.margin-top-md {
  margin-top: 4.242em; }

.margin-top-lg {
  margin-top: 5.656em; }

.margin-top-xl {
  margin-top: 8.484em; }

.margin-top-xxl {
  margin-top: 16.968em; }

.margin-top-xxxl {
  margin-top: 22.624em; }

.margin-top-none {
  margin-top: 0px; }

.margin-right {
  margin-right: 4.242em; }

.margin-right-base {
  margin-right: 1em; }

.margin-right-xs {
  margin-right: 1.414em; }

.margin-right-sm {
  margin-right: 2.828em; }

.margin-right-md {
  margin-right: 4.242em; }

.margin-right-lg {
  margin-right: 5.656em; }

.margin-right-xl {
  margin-right: 8.484em; }

.margin-right-xxl {
  margin-right: 16.968em; }

.margin-right-xxxl {
  margin-right: 22.624em; }

.margin-right-none {
  margin-right: 0px; }

.margin-bottom {
  margin-bottom: 4.242em; }

.margin-bottom-base {
  margin-bottom: 1em; }

.margin-bottom-xs {
  margin-bottom: 1.414em; }

.margin-bottom-sm {
  margin-bottom: 2.828em; }

.margin-bottom-md {
  margin-bottom: 4.242em; }

.margin-bottom-lg {
  margin-bottom: 5.656em; }

.margin-bottom-xl {
  margin-bottom: 8.484em; }

.margin-bottom-xxl {
  margin-bottom: 16.968em; }

.margin-bottom-xxxl {
  margin-bottom: 22.624em; }

.margin-bottom-none {
  margin-bottom: 0px; }

.margin-left {
  margin-left: 4.242em; }

.margin-left-base {
  margin-left: 1em; }

.margin-left-xs {
  margin-left: 1.414em; }

.margin-left-sm {
  margin-left: 2.828em; }

.margin-left-md {
  margin-left: 4.242em; }

.margin-left-lg {
  margin-left: 5.656em; }

.margin-left-xl {
  margin-left: 8.484em; }

.margin-left-xxl {
  margin-left: 16.968em; }

.margin-left-xxxl {
  margin-left: 22.624em; }

.margin-left-none {
  margin-left: 0px; }

/** padding **/
.padding {
  padding: 4.242em; }

.padding-base {
  padding: 1em; }

.padding-xs {
  padding: 1.414em; }

.padding-sm {
  padding: 2.828em; }

.padding-md {
  padding: 4.242em; }

.padding-lg {
  padding: 5.656em; }

.padding-xl {
  padding: 8.484em; }

.padding-xxl {
  padding: 16.968em; }

.padding-xxxl {
  padding: 22.624em; }

.padding-none {
  padding: 0px; }

.padding-top {
  padding-top: 4.242em; }

.padding-top-base {
  padding-top: 1em; }

.padding-top-xs {
  padding-top: 1.414em; }

.padding-top-sm {
  padding-top: 2.828em; }

.padding-top-md {
  padding-top: 4.242em; }

.padding-top-lg {
  padding-top: 5.656em; }

.padding-top-xl {
  padding-top: 8.484em; }

.padding-top-xxl {
  padding-top: 16.968em; }

.padding-top-xxxl {
  padding-top: 22.624em; }

.padding-top-none {
  padding-top: 0px; }

.padding-right {
  padding-right: 4.242em; }

.padding-right-base {
  padding-right: 1em; }

.padding-right-xs {
  padding-right: 1.414em; }

.padding-right-sm {
  padding-right: 2.828em; }

.padding-right-md {
  padding-right: 4.242em; }

.padding-right-lg {
  padding-right: 5.656em; }

.padding-right-xl {
  padding-right: 8.484em; }

.padding-right-xxl {
  padding-right: 16.968em; }

.padding-right-xxxl {
  padding-right: 22.624em; }

.padding-right-none {
  padding-right: 0px; }

.padding-bottom {
  padding-bottom: 4.242em; }

.padding-bottom-base {
  padding-bottom: 1em; }

.padding-bottom-xs {
  padding-bottom: 1.414em; }

.padding-bottom-sm {
  padding-bottom: 2.828em; }

.padding-bottom-md {
  padding-bottom: 4.242em; }

.padding-bottom-lg {
  padding-bottom: 5.656em; }

.padding-bottom-xl {
  padding-bottom: 8.484em; }

.padding-bottom-xxl {
  padding-bottom: 16.968em; }

.padding-bottom-xxxl {
  padding-bottom: 22.624em; }

.padding-bottom-none {
  padding-bottom: 0px; }

.padding-left {
  padding-left: 4.242em; }

.padding-left-base {
  padding-left: 1em; }

.padding-left-xs {
  padding-left: 1.414em; }

.padding-left-sm {
  padding-left: 2.828em; }

.padding-left-md {
  padding-left: 4.242em; }

.padding-left-lg {
  padding-left: 5.656em; }

.padding-left-xl {
  padding-left: 8.484em; }

.padding-left-xxl {
  padding-left: 16.968em; }

.padding-left-xxxl {
  padding-left: 22.624em; }

.padding-left-none {
  padding-left: 0px; }

/**
 * 
 * TYPE MIXINS
 * 
 */
/**
 * TYPE GRID
 * 
 * @assumption => 96 pixels per inch
 */
.baseline-grid-5px {
  background: url("../images/baseline-grid/baseline-grid-5px.jpg") repeat; }

.baseline-grid-8px {
  background: url("../images/baseline-grid/baseline-grid-8px.jpg") repeat; }

.baseline-grid-9px {
  background: url("../images/baseline-grid/baseline-grid-9px.jpg") repeat; }

.baseline-grid-10px {
  background: url("../images/baseline-grid/baseline-grid-10px.jpg") repeat; }

.baseline-grid-12px {
  background: url("../images/baseline-grid/baseline-grid-12px.jpg") repeat; }

.baseline-grid-14px {
  background: url("../images/baseline-grid/baseline-grid-14px.jpg") repeat; }

.baseline-grid-16px {
  background: url("../images/baseline-grid/baseline-grid-16px.jpg") repeat; }

.baseline-grid-18px {
  background: url("../images/baseline-grid/baseline-grid-18px.jpg") repeat; }

.baseline-grid-20px {
  background: url("../images/baseline-grid/baseline-grid-20px.jpg") repeat; }

.baseline-grid-25px {
  background: url("../images/baseline-grid/baseline-grid-25px.jpg") repeat; }

.baseline-grid-36px {
  background: url("../images/baseline-grid/baseline-grid-36px.jpg") repeat; }

.baseline-grid-48px {
  background: url("../images/baseline-grid/baseline-grid-48px.jpg") repeat; }

.baseline-grid-50px {
  background: url("../images/baseline-grid/baseline-grid-50px.jpg") repeat; }

.baseline-grid-72px {
  background: url("../images/baseline-grid/baseline-grid-72px.jpg") repeat; }

.baseline-grid-96px {
  background: url("../images/baseline-grid/baseline-grid-96px.jpg") repeat; }

/**
 * FONT IMPORTS
 */
/**
/* Times New Roman-based stack */
/* Modern Georgia-based serif stack */
/* Traditional Garamond-based serif stack */
/* Helvetica/Arial-based sans serif stack */
/* Verdana-based sans serif stack */
/* Trebuchet-based sans serif stack */
/* Impact-based sans serif stack */
/* Monospace stack */
/*
@font-face {
	font-family: '';
	src: url('');
}
*/
/**
 * ROOT
 */
/*
html {
	font-size: $typo-grid-base;
}
body {
	font-family: $font-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
}
*/
/**
 * HEADLINES
 */
/*
$font-primary
$font-secondary
$font-teriary

$font-size-base
$line-height-base
$font-weight-base
*/
/*
h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
}
h1 {
	font-family: inherit;
	font-size: $font-size-base * (4 * $typo-grid-interval);
	line-height:  $line-height-base * 4;
	padding-top: $padding-xl;
	padding-bottom: $padding-lg;
}
h2 {
	font-family: inherit;
	font-size: $font-size-base * (3 * $typo-grid-interval);
	line-height:  $line-height-base * 3;
	padding-top: $padding-lg;
	padding-bottom: $padding-md;
}
h3 {
	font-family: inherit;
	font-size: $font-size-base * (2 * $typo-grid-interval);
	line-height:  $line-height-base * 3;
	padding-top: $padding-md;
	padding-bottom: $padding-sm;
}
h4 {
	font-family: inherit;
	font-size: $font-size-base * (1 * $typo-grid-interval);
	line-height:  $line-height-base * 1;
	padding-top: $padding-sm;
	padding-bottom: $padding-xs;
}
h5 {
	font-size: $font-size-base;
	line-height:  $line-height-base;
	line-height:  $line-height-base;
	padding-top: $padding-xs;
	padding-bottom: $padding-none;
	font-style: italic;
}
h6 {
	font-family: $font-teriary;
	font-size: $font-size-base;
	line-height:  $line-height-base;
	padding-top: $padding-lg;
	padding-bottom: $padding-lg;
	font-weight: 900;
}
h1 small, h2 small, h3 small,
h4 small, h5 small, h6 small {}
*/
/**
 * LINKS
 */
a {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

/** 
 * PARAGRAPHS
 */
/*
p {
	font-family: $font-secondary;
	font-size: $font-size-base;
	line-height:  $line-height-base;
	font-weight: $font-weight-base;
	font-style: $font-style-base;
	padding-bottom: $padding-md;
}
p small {
	font-style: italic;
}
*/
sup {
  position: absolute;
  font-size: 75%;
  margin-top: -2.5%; }

/**
 * LISTS
 */
/*
ul {
	list-style: disc;
	margin-top: $margin;
	margin-bottom: $margin;
	font-family: $font-primary;
}
li {
	display: list-item;
	list-style-position: inside;
	padding-left: $padding;
}
dl {
	position: relative;
	display: block;
}
dt {
	margin-top: $margin;
	margin-bottom: $margin;
}
dd {
	margin-left: $margin;
}
*/
/**
 * ADDTIONAL
 */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.font-italic {
  font-style: italic; }

.font-bold {
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */
