/**
 * 
 * CSS ROOT VARIABLES
 * 
 * @author Joey Grable
 */
:root {



/**
 * MEASUREMENSTS
 */
	--inch-base: 72pt;



/**
 * TYPOGRAPHY VARIABLES
 */
	--font-primary: sans-serif;
	--font-secondary: sans-serif;
	--font-teriary: cursive;

	--typo-grid-base: 62.5%;
	--font-size-base: 12px;
	--line-height-base: 18px;
	--font-weight-base: 400;
	--font-style-base: regular;

	--typo-grid-interval: 1.618;



/**
 * SPACING
 */
 	--xs-spacing: 9px;
	--sm-spacing: 18px;
	--md-spacing: 36px;
	--lg-spacing: 72px;

	--margin-base: 9px;
		--margin-xs: ;
		--margin-sm: ;
		--margin-lg: ;
		--margin-none: ;

		--margin-top: ;
		--margin-top-xs: ;
		--margin-top-sm: ;
		--margin-top-lg: ;
		--margin-top-none: ;

		--margin-right: ;
		--margin-right-xs: ;
		--margin-right-sm: ;
		--margin-right-lg: ;
		--margin-right-none: ;

		--margin-bottom: ;
		--margin-bottom-xs: ;
		--margin-bottom-sm: ;
		--margin-bottom-lg: ;
		--margin-bottom-none: ;

		--margin-left: ;
		--margin-left-xs: ;
		--margin-left-sm: ;
		--margin-left-lg: ;
		--margin-left-none: ;

	--padding-base: 9px;
		--padding-xs: ;
		--padding-sm: ;
		--padding-lg: ;
		--padding-none: ;

		--padding-top: ;
		--padding-top-xs: ;
		--padding-top-sm: ;
		--padding-top-lg: ;
		--padding-top-none: ;

		--padding-right: ;
		--padding-right-xs: ;
		--padding-right-sm: ;
		--padding-right-lg: ;
		--padding-right-none: ;

		--padding-bottom: ;
		--padding-bottom-xs: ;
		--padding-bottom-sm: ;
		--padding-bottom-lg: ;
		--padding-bottom-none: ;

		--padding-left: ;
		--padding-left-xs: ;
		--padding-left-sm: ;
		--padding-left-lg: ;
		--padding-left-none: ;



/**
 * COLORS
 */
	--color-primary: #FFF0E1;
	--color-primary-contrast: ;
	--color-primary-analogous: ;
	--color-secondary: #8F5500;
	--color-secondary-contrast: ;
	--color-secondary-analogous: ;
	--color-tertiary: #2C4260;
	--color-tertiary-contrast: ;
	--color-tertiary-analogous: ;
	--color-success: green;
	--color-warning: orange;
	--color-danger: red;
	--color-light: white;
	--color-grey1: ;
	--color-grey2: grey;
	--color-grey3: ;
	--color-dark: black;


}