/**
 * base
 */
html {
	height: 100vh;
}
body {
	min-height: 100%;
}
body * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}





/**
 * typograhic grid
 * 
 * @assumption => 96 pixels per inch
 */
.baseline-grid-5px	{	background: url("../images/baseline-grid/baseline-grid-5px.jpg")	repeat;	}
.baseline-grid-8px	{	background: url("../images/baseline-grid/baseline-grid-8px.jpg")	repeat;	}
.baseline-grid-9px	{	background: url("../images/baseline-grid/baseline-grid-9px.jpg")	repeat;	}
.baseline-grid-10px	{	background: url("../images/baseline-grid/baseline-grid-10px.jpg")	repeat;	}
.baseline-grid-12px	{	background: url("../images/baseline-grid/baseline-grid-12px.jpg")	repeat;	}
.baseline-grid-14px	{	background: url("../images/baseline-grid/baseline-grid-14px.jpg")	repeat;	}
.baseline-grid-16px	{	background: url("../images/baseline-grid/baseline-grid-16px.jpg")	repeat;	}
.baseline-grid-18px	{	background: url("../images/baseline-grid/baseline-grid-18px.jpg")	repeat;	}
.baseline-grid-20px	{	background: url("../images/baseline-grid/baseline-grid-20px.jpg")	repeat;	}
.baseline-grid-25px	{	background: url("../images/baseline-grid/baseline-grid-25px.jpg")	repeat;	}
.baseline-grid-36px	{	background: url("../images/baseline-grid/baseline-grid-36px.jpg")	repeat;	}
.baseline-grid-48px	{	background: url("../images/baseline-grid/baseline-grid-48px.jpg")	repeat;	}
.baseline-grid-50px	{	background: url("../images/baseline-grid/baseline-grid-50px.jpg")	repeat;	}
.baseline-grid-72px	{	background: url("../images/baseline-grid/baseline-grid-72px.jpg")	repeat;	}
.baseline-grid-96px	{	background: url("../images/baseline-grid/baseline-grid-96px.jpg")	repeat;	}





/**
 * GRID FLEX
 * 
 * .gy
 * .grow-unit-#
 * 
 * .gx
 * .gcol-#
 *   .span-#
 */
/** grid flex **/
.gflex {
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	/**
	row | row-reverse | column | column-reverse
	-webkit-flex-direction:;
	flex-direction:;
	wrap | wrap-reverse | nowrap
	-webkit-flex-wrap:;
	flex-wrap:;
	flex-start | flex-end | space-between | space-around | center
	-webkit-justify-content:;
	justify-content:;
	flex-start | flex-end | space-between | space-around | center
	-webkit-align-items:;
	align-items:;
	flex-start | flex-end | space-between | space-around | center
	-webkit-align-content:;
	align-content:;
	*/
}

	/** FLEX CENTER **/
	.flex-center {
		-webkit-display: flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-align-content: center;
		align-content: center;
		/* typography */
		text-align: center;
	}





/** gy **/
.gy {
	position: relative;
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
}

	/** no Y constraint **/
	.gy-fluid	{	min-height: 100%;	}

	/** scroll inner content **/
	.gy-scroll {
		max-height: 100vh;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.gy-scroll::-webkit-scrollbar {
		width: 0px;  /* remove scrollbar space */
		background: transparent; /* optional: just make scrollbar invisible */
	}
	.gy-scroll::-webkit-scrollbar-thumb {	background: #FF0000; } /* optional: show position indicator in red */
	
	/** grow-vh **/
	.grow-vh-100		{	height: 100vh;		}
	.grow-vh-90			{	height: 90vh;		}
	.grow-vh-80			{	height: 80vh;		}
	.grow-vh-70			{	height: 70vh;		}
	.grow-vh-60			{	height: 60vh;		}
	.grow-vh-50			{	height: 50vh;		}
	.grow-vh-40			{	height: 40vh;		}
	.grow-vh-30			{	height: 30vh;		}
	.grow-vh-20			{	height: 20vh;		}
	.grow-vh-10			{	height: 10vh;		}
	.grow-vh-66			{	height: 66.666vh;	}
	.grow-vh-33			{	height: 33.333vh;	}
	.grow-vh-75			{	height: 75vh;		}
	.grow-vh-25			{	height: 25vh;		}

	/** grow-percent **/
	.grow-pct-100		{	height: 100%;		}
	.grow-pct-90		{	height: 90%;		}
	.grow-pct-80		{	height: 80%;		}
	.grow-pct-70		{	height: 70%;		}
	.grow-pct-60		{	height: 60%;		}
	.grow-pct-50		{	height: 50%;		}
	.grow-pct-40		{	height: 40%;		}
	.grow-pct-30		{	height: 30%;		}
	.grow-pct-20		{	height: 20%;		}
	.grow-pct-10		{	height: 10%;		}
	.grow-pct-66		{	height: 66.666%;	}
	.grow-pct-33		{	height: 33.333%;	}
	.grow-pct-75		{	height: 75%;		}
	.grow-pct-25		{	height: 25%;		}

	/** grow-pixel **/
	.grow-px-10			{	height: 10px;	}
	.grow-px-20			{	height: 20px;	}
	.grow-px-30			{	height: 30px;	}
	.grow-px-40			{	height: 40px;	}
	.grow-px-50			{	height: 50px;	}
	.grow-px-60			{	height: 60px;	}
	.grow-px-70			{	height: 70px;	}
	.grow-px-80			{	height: 80px;	}
	.grow-px-90			{	height: 90px;	}
	.grow-px-100		{	height: 100px;	}

	/** grow-point: multiples of 10 **/
	.grow-pt-10	 		{	height: 10pt;	}
	.grow-pt-20	 		{	height: 20pt;	}
	.grow-pt-30	 		{	height: 30pt;	}
	.grow-pt-40	 		{	height: 40pt;	}
	.grow-pt-50	 		{	height: 50pt;	}
	.grow-pt-60	 		{	height: 60pt;	}
	.grow-pt-70	 		{	height: 70pt;	}
	.grow-pt-80	 		{	height: 80pt;	}
	.grow-pt-90	 		{	height: 90pt;	}
	.grow-pt-100		{	height: 100pt;	}

	/** grow-point: 12pt scale **/
	.grow-pt-12	 	{	height: 12pt;	}
	.grow-pt-24	 	{	height: 24pt;	}
	.grow-pt-36	 	{	height: 36pt;	}
	.grow-pt-48	 	{	height: 48pt;	}
	.grow-pt-60	 	{	height: 60pt;	}
	.grow-pt-72	 	{	height: 72pt;	}
	.grow-pt-96	 	{	height: 96pt;	}
	.grow-pt-108	{	height: 108pt;	}
	.grow-pt-120	{	height: 120pt;	}
	.grow-pt-132	{	height: 132pt;	}
	.grow-pt-144	{	height: 144pt;	}
	.grow-pt-156	{	height: 156pt;	}
	.grow-pt-168	{	height: 168pt;	}
	.grow-pt-180	{	height: 180pt;	}
	.grow-pt-192	{	height: 192pt;	}
	.grow-pt-204	{	height: 204pt;	}
	.grow-pt-216	{	height: 216pt;	}
	.grow-pt-228	{	height: 228pt;	}
	.grow-pt-240	{	height: 240pt;	}
	.grow-pt-252	{	height: 252pt;	}
	.grow-pt-264	{	height: 264pt;	}
	.grow-pt-276	{	height: 276pt;	}
	.grow-pt-288	{	height: 288pt;	}
	.grow-pt-300	{	height: 300pt;	}

	/** grow-inches **/
	.grow-in-1	 		{	height: $inch-base * 1;		}
	.grow-in-2	 		{	height: $inch-base * 2;		}
	.grow-in-3	 		{	height: $inch-base * 3;		}
	.grow-in-4	 		{	height: $inch-base * 4;		}
	.grow-in-5	 		{	height: $inch-base * 5;		}
	.grow-in-6	 		{	height: $inch-base * 6;		}
	.grow-in-7	 		{	height: $inch-base * 7;		}
	.grow-in-8	 		{	height: $inch-base * 8;		}
	.grow-in-9	 		{	height: $inch-base * 9;		}
	.grow-in-10	 		{	height: $inch-base * 10;	}
	.grow-in-11	 		{	height: $inch-base * 11;	}
	.grow-in-12	 		{	height: $inch-base * 12;	}
	.grow-in-13	 		{	height: $inch-base * 13;	}
	.grow-in-14	 		{	height: $inch-base * 14;	}
	.grow-in-15	 		{	height: $inch-base * 15;	}
	.grow-in-16	 		{	height: $inch-base * 16;	}
	.grow-in-17	 		{	height: $inch-base * 17;	}
	.grow-in-18	 		{	height: $inch-base * 18;	}
	.grow-in-19	 		{	height: $inch-base * 19;	}
	.grow-in-20	 		{	height: $inch-base * 20;	}





/** gx **/
.gx {
	width: 100%;
}

	/** flex-24 **/
	.gx.gcol-24 > .span-1 	{	width: $gcol-int-24 * 1;	}
	.gx.gcol-24 > .span-2 	{	width: $gcol-int-24 * 2;	}
	.gx.gcol-24 > .span-3 	{	width: $gcol-int-24 * 3;	}
	.gx.gcol-24 > .span-4 	{	width: $gcol-int-24 * 4;	}
	.gx.gcol-24 > .span-5 	{	width: $gcol-int-24 * 5;	}
	.gx.gcol-24 > .span-6 	{	width: $gcol-int-24 * 6;	}
	.gx.gcol-24 > .span-7 	{	width: $gcol-int-24 * 7;	}
	.gx.gcol-24 > .span-8 	{	width: $gcol-int-24 * 8;	}
	.gx.gcol-24 > .span-9 	{	width: $gcol-int-24 * 9;	}
	.gx.gcol-24 > .span-10	{	width: $gcol-int-24 * 10;	}
	.gx.gcol-24 > .span-11	{	width: $gcol-int-24 * 11;	}
	.gx.gcol-24 > .span-12	{	width: $gcol-int-24 * 12;	}
	.gx.gcol-24 > .span-13	{	width: $gcol-int-24 * 13;	}
	.gx.gcol-24 > .span-14	{	width: $gcol-int-24 * 14;	}
	.gx.gcol-24 > .span-15	{	width: $gcol-int-24 * 15;	}
	.gx.gcol-24 > .span-16	{	width: $gcol-int-24 * 16;	}
	.gx.gcol-24 > .span-17	{	width: $gcol-int-24 * 17;	}
	.gx.gcol-24 > .span-18	{	width: $gcol-int-24 * 18;	}
	.gx.gcol-24 > .span-19	{	width: $gcol-int-24 * 19;	}
	.gx.gcol-24 > .span-20	{	width: $gcol-int-24 * 20;	}
	.gx.gcol-24 > .span-21	{	width: $gcol-int-24 * 21;	}
	.gx.gcol-24 > .span-22	{	width: $gcol-int-24 * 22;	}
	.gx.gcol-24 > .span-23	{	width: $gcol-int-24 * 23;	}
	.gx.gcol-24 > .span-24	{	width: $gcol-int-24 * 25;	}

	/** flex-20 **/
	.gx.gcol-20 > .span-1 	{	width: $gcol-int-20 * 1;	}
	.gx.gcol-20 > .span-2 	{	width: $gcol-int-20 * 2;	}
	.gx.gcol-20 > .span-3 	{	width: $gcol-int-20 * 3;	}
	.gx.gcol-20 > .span-4 	{	width: $gcol-int-20 * 4;	}
	.gx.gcol-20 > .span-5 	{	width: $gcol-int-20 * 5;	}
	.gx.gcol-20 > .span-6 	{	width: $gcol-int-20 * 6;	}
	.gx.gcol-20 > .span-7 	{	width: $gcol-int-20 * 7;	}
	.gx.gcol-20 > .span-8 	{	width: $gcol-int-20 * 8;	}
	.gx.gcol-20 > .span-9 	{	width: $gcol-int-20 * 9;	}
	.gx.gcol-20 > .span-10	{	width: $gcol-int-20 * 10;	}
	.gx.gcol-20 > .span-11	{	width: $gcol-int-20 * 11;	}
	.gx.gcol-20 > .span-12	{	width: $gcol-int-20 * 12;	}
	.gx.gcol-20 > .span-13	{	width: $gcol-int-20 * 13;	}
	.gx.gcol-20 > .span-14	{	width: $gcol-int-20 * 14;	}
	.gx.gcol-20 > .span-15	{	width: $gcol-int-20 * 15;	}
	.gx.gcol-20 > .span-16	{	width: $gcol-int-20 * 16;	}
	.gx.gcol-20 > .span-17	{	width: $gcol-int-20 * 17;	}
	.gx.gcol-20 > .span-18	{	width: $gcol-int-20 * 18;	}
	.gx.gcol-20 > .span-19	{	width: $gcol-int-20 * 19;	}
	.gx.gcol-20 > .span-20	{	width: $gcol-int-20 * 20;	}

	/** flex-20 **/
	.gx.gcol-15 > .span-1 	{	width: $gcol-int-15 * 1;	}
	.gx.gcol-15 > .span-2 	{	width: $gcol-int-15 * 2;	}
	.gx.gcol-15 > .span-3 	{	width: $gcol-int-15 * 3;	}
	.gx.gcol-15 > .span-4 	{	width: $gcol-int-15 * 4;	}
	.gx.gcol-15 > .span-5 	{	width: $gcol-int-15 * 5;	}
	.gx.gcol-15 > .span-6 	{	width: $gcol-int-15 * 6;	}
	.gx.gcol-15 > .span-7 	{	width: $gcol-int-15 * 7;	}
	.gx.gcol-15 > .span-8 	{	width: $gcol-int-15 * 8;	}
	.gx.gcol-15 > .span-9 	{	width: $gcol-int-15 * 9;	}
	.gx.gcol-15 > .span-10	{	width: $gcol-int-15 * 10;	}
	.gx.gcol-15 > .span-11	{	width: $gcol-int-15 * 11;	}
	.gx.gcol-15 > .span-12	{	width: $gcol-int-15 * 12;	}
	.gx.gcol-15 > .span-13	{	width: $gcol-int-15 * 13;	}
	.gx.gcol-15 > .span-14	{	width: $gcol-int-15 * 14;	}
	.gx.gcol-15 > .span-15	{	width: $gcol-int-15 * 15;	}

	/** flex-12 **/
	.gx.gcol-12 > .span-1 	{	width: $gcol-int-12 * 1;	}
	.gx.gcol-12 > .span-2 	{	width: $gcol-int-12 * 2;	}
	.gx.gcol-12 > .span-3 	{	width: $gcol-int-12 * 3;	}
	.gx.gcol-12 > .span-4 	{	width: $gcol-int-12 * 4;	}
	.gx.gcol-12 > .span-5 	{	width: $gcol-int-12 * 5;	}
	.gx.gcol-12 > .span-6 	{	width: $gcol-int-12 * 6;	}
	.gx.gcol-12 > .span-7 	{	width: $gcol-int-12 * 7;	}
	.gx.gcol-12 > .span-8 	{	width: $gcol-int-12 * 8;	}
	.gx.gcol-12 > .span-9 	{	width: $gcol-int-12 * 9;	}
	.gx.gcol-12 > .span-10	{	width: $gcol-int-12 * 10;	}
	.gx.gcol-12 > .span-11	{	width: $gcol-int-12 * 11;	}
	.gx.gcol-12 > .span-12	{	width: $gcol-int-12 * 12;	}

	/** flex-10 **/
	.gx.gcol-10 > .span-1 	{	width: $gcol-int-10 * 1;	}
	.gx.gcol-10 > .span-2 	{	width: $gcol-int-10 * 2;	}
	.gx.gcol-10 > .span-3 	{	width: $gcol-int-10 * 3;	}
	.gx.gcol-10 > .span-4 	{	width: $gcol-int-10 * 4;	}
	.gx.gcol-10 > .span-5 	{	width: $gcol-int-10 * 5;	}
	.gx.gcol-10 > .span-6 	{	width: $gcol-int-10 * 6;	}
	.gx.gcol-10 > .span-7 	{	width: $gcol-int-10 * 7;	}
	.gx.gcol-10 > .span-8 	{	width: $gcol-int-10 * 8;	}
	.gx.gcol-10 > .span-9 	{	width: $gcol-int-10 * 9;	}
	.gx.gcol-10 > .span-10	{	width: $gcol-int-10 * 10;	}

	/** flex-9 **/
	.gx.gcol-9 > .span-1 	{	width: $gcol-int-9 * 1;		}
	.gx.gcol-9 > .span-2 	{	width: $gcol-int-9 * 2;		}
	.gx.gcol-9 > .span-3 	{	width: $gcol-int-9 * 3;		}
	.gx.gcol-9 > .span-4 	{	width: $gcol-int-9 * 4;		}
	.gx.gcol-9 > .span-5 	{	width: $gcol-int-9 * 5;		}
	.gx.gcol-9 > .span-6 	{	width: $gcol-int-9 * 6;		}
	.gx.gcol-9 > .span-7 	{	width: $gcol-int-9 * 7;		}
	.gx.gcol-9 > .span-8 	{	width: $gcol-int-9 * 8;		}
	.gx.gcol-9 > .span-9 	{	width: $gcol-int-9 * 9;		}

	/** flex-8 **/
	.gx.gcol-8 > .span-1 	{	width: $gcol-int-8 * 1;		}
	.gx.gcol-8 > .span-2 	{	width: $gcol-int-8 * 2;		}
	.gx.gcol-8 > .span-3 	{	width: $gcol-int-8 * 3;		}
	.gx.gcol-8 > .span-4 	{	width: $gcol-int-8 * 4;		}
	.gx.gcol-8 > .span-5 	{	width: $gcol-int-8 * 5;		}
	.gx.gcol-8 > .span-6 	{	width: $gcol-int-8 * 6;		}
	.gx.gcol-8 > .span-7 	{	width: $gcol-int-8 * 7;		}
	.gx.gcol-8 > .span-8 	{	width: $gcol-int-8 * 8;		}

	/** flex-6 **/
	.gx.gcol-6 > .span-1 	{	width: $gcol-int-6 * 1;		}
	.gx.gcol-6 > .span-2 	{	width: $gcol-int-6 * 2;		}
	.gx.gcol-6 > .span-3 	{	width: $gcol-int-6 * 3;		}
	.gx.gcol-6 > .span-4 	{	width: $gcol-int-6 * 4;		}
	.gx.gcol-6 > .span-5 	{	width: $gcol-int-6 * 5;		}

	/** flex-5 **/
	.gx.gcol-5 > .span-1 	{	width: $gcol-int-5 * 1;		}
	.gx.gcol-5 > .span-2 	{	width: $gcol-int-5 * 2;		}
	.gx.gcol-5 > .span-3 	{	width: $gcol-int-5 * 3;		}
	.gx.gcol-5 > .span-4 	{	width: $gcol-int-5 * 4;		}
	.gx.gcol-5 > .span-5 	{	width: $gcol-int-5 * 5;		}

	/** flex-4 **/
	.gx.gcol-4 > .span-1 	{	width: $gcol-int-4 * 1;		}
	.gx.gcol-4 > .span-2 	{	width: $gcol-int-4 * 2;		}
	.gx.gcol-4 > .span-3 	{	width: $gcol-int-4 * 3;		}
	.gx.gcol-4 > .span-4 	{	width: $gcol-int-4 * 4;		}

	/** flex-4 **/
	.gx.gcol-3 > .span-1 	{	width: $gcol-int-3 * 1;		}
	.gx.gcol-3 > .span-2 	{	width: $gcol-int-3 * 2;		}
	.gx.gcol-3 > .span-3 	{	width: $gcol-int-3 * 3;		}

	/** flex-4 **/
	.gx.gcol-2 > .span-1 	{	width: $gcol-int-2 * 1;		}
	.gx.gcol-2 > .span-2 	{	width: $gcol-int-2 * 2;		}





/** gx-inch **/
/**
.gx-inch {

	width: 100%;
	margin: 0 auto;

	-webkit-display: flex;
	display: flex;
	
	-webkit-flex-direction: row;
	flex-direction: row;
	
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	
	-webkit-justify-content: center;
	justify-content: center;
	
	-webkit-align-items: stretch;
	align-items: stretch;
	
	-webkit-align-content: flex-start;
	align-content: flex-start;

}
**/

	/** inch columns **/
	/*
	.gx-inch.gcol-20 {		max-width: $grid-int-inch * 20;		}
	.gx-inch.gcol-15 {		max-width: $grid-int-inch * 15;		}
	.gx-inch.gcol-12 {		max-width: $grid-int-inch * 12;		}
	.gx-inch.gcol-10 {		max-width: $grid-int-inch * 10;		}
	.gx-inch.gcol-9 {		max-width: $grid-int-inch * 9;		}
	.gx-inch.gcol-8 {		max-width: $grid-int-inch * 7;		}
	.gx-inch.gcol-5 {		max-width: $grid-int-inch * 5;		}
	.gx-inch.gcol-4 {		max-width: $grid-int-inch * 4;		}
	.gx-inch.gcol-3 {		max-width: $grid-int-inch * 3;		}
	.gx-inch.gcol-2 {		max-width: $grid-int-inch * 2;		}
	.gx-inch.gcol-1 {		max-width: $grid-int-inch * 1;		}
	*/

	/** span-# **/
	/*
	.gx-inch > .span-1 	{	width: $grid-int-inch * 1;		}
	.gx-inch > .span-2 	{	width: $grid-int-inch * 2;		}
	.gx-inch > .span-3 	{	width: $grid-int-inch * 3;		}
	.gx-inch > .span-4 	{	width: $grid-int-inch * 4;		}
	.gx-inch > .span-5 	{	width: $grid-int-inch * 5;		}
	.gx-inch > .span-6 	{	width: $grid-int-inch * 6;		}
	.gx-inch > .span-7 	{	width: $grid-int-inch * 7;		}
	.gx-inch > .span-8 	{	width: $grid-int-inch * 8;		}
	.gx-inch > .span-9 	{	width: $grid-int-inch * 9;		}
	.gx-inch > .span-10	{	width: $grid-int-inch * 10;		}
	.gx-inch > .span-11	{	width: $grid-int-inch * 11;		}
	.gx-inch > .span-12	{	width: $grid-int-inch * 12;		}
	.gx-inch > .span-13	{	width: $grid-int-inch * 13;		}
	.gx-inch > .span-14	{	width: $grid-int-inch * 14;		}
	.gx-inch > .span-15	{	width: $grid-int-inch * 15;		}
	.gx-inch > .span-16	{	width: $grid-int-inch * 16;		}
	.gx-inch > .span-17	{	width: $grid-int-inch * 17;		}
	.gx-inch > .span-18	{	width: $grid-int-inch * 18;		}
	.gx-inch > .span-19	{	width: $grid-int-inch * 19;		}
	.gx-inch > .span-20	{	width: $grid-int-inch * 20;		}
	*/





/** CONTAINERS **/
.contain { margin: 0 auto; }

	/** pixels **/
	.contain.c1920	{	max-width: $breakpoint-1920;	}
	.contain.c1320	{	max-width: $breakpoint-1320;	}
	.contain.c1440	{	max-width: $breakpoint-1440;	}
	.contain.c1260	{	max-width: $breakpoint-1260;	}
	.contain.c1080	{	max-width: $breakpoint-1080;	}
	.contain.c960	{	max-width: $breakpoint-960;		}
	.contain.c840	{	max-width: $breakpoint-840;		}
	.contain.c720	{	max-width: $breakpoint-720;		}
	.contain.c540	{	max-width: $breakpoint-540;		}
	.contain.c480	{	max-width: $breakpoint-480;		}





/**
 * GRID C
 * 
 * .cblocks		==> content blocks
 * .cb-mode		==> content mode/instance/behavior
 * 					(mode = center, float-left/right, etc.?)
 * 
 * 		.ct-type	==> content type
 *						type = div, text, image, video, obj, etc.?)
 */
/** cblock **/
.cblock {
	display: block;
	position: relative;
	width: auto;
	height: auto;
}

/** cb-center **/
.cb-center {	margin: 0 auto;		}
/** cb-left **/
.cb-left,
.float-left		{	float: left;	}
/** cb-right **/
.cb-right,
.float-right	{	float: right;	}

	/** ct-text **/
	.ct-text {}
	/** ct-img **/
	.ct-img {}
	/** ct-video **/
	.ct-video {}
	/** ct-object **/
	.ct-svg {}





/** clearfix **/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */





