/**
 * IMPORTS
 */

/*
@font-face {
	font-family: 'akzg-bold';
	src: url("../fonts/AkzidenzGrotesk-Bold.otf");
}
@font-face {
	font-family: 'akzg-light';
	src: url("../fonts/AkzidenzGrotesk-Light.otf");
}
@font-face {
	font-family: 'akzg-light-italic';
	src: url("../fonts/AkzidenzGrotesk-LightItalic.otf");
}
@font-face {
	font-family: 'akzg-super';
	src: url("../fonts/AkzidenzGrotesk-Super.otf");
}
*/





/**
 * typography
 */
html {
	font-size: $typo-grid-base;
}
body {
	font-family: $font-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
}





/**
 * typograhic grid
 * 
 * @assumption => 72 pixels per inch
 */
.baseline-grid-5px {	background: url("../images/baseline-grid/baseline-grid-5px.jpg") repeat;	}
.baseline-grid-8px {	background: url("../images/baseline-grid/baseline-grid-8px.jpg") repeat;	}
.baseline-grid-9px {	background: url("../images/baseline-grid/baseline-grid-9px.jpg") repeat;	}
.baseline-grid-10px {	background: url("../images/baseline-grid/baseline-grid-10px.jpg") repeat;	}
.baseline-grid-12px {	background: url("../images/baseline-grid/baseline-grid-12px.jpg") repeat;	}
.baseline-grid-14px {	background: url("../images/baseline-grid/baseline-grid-14px.jpg") repeat;	}
.baseline-grid-16px {	background: url("../images/baseline-grid/baseline-grid-16px.jpg") repeat;	}
.baseline-grid-18px {	background: url("../images/baseline-grid/baseline-grid-18px.jpg") repeat;	}
.baseline-grid-20px {	background: url("../images/baseline-grid/baseline-grid-20px.jpg") repeat;	}
.baseline-grid-25px {	background: url("../images/baseline-grid/baseline-grid-25px.jpg") repeat;	}
.baseline-grid-36px {	background: url("../images/baseline-grid/baseline-grid-36px.jpg") repeat;	}
.baseline-grid-48px {	background: url("../images/baseline-grid/baseline-grid-48px.jpg") repeat;	}
.baseline-grid-50px {	background: url("../images/baseline-grid/baseline-grid-50px.jpg") repeat;	}
.baseline-grid-72px {	background: url("../images/baseline-grid/baseline-grid-72px.jpg") repeat;	}
.baseline-grid-96px {	background: url("../images/baseline-grid/baseline-grid-96px.jpg") repeat;	}





/**
 * headings
 */
h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
}

/*
$font-primary
$font-secondary
$font-teriary

$font-size-base
$line-height-base
$font-weight-base
*/

h1 {
	font-family: inherit;
	font-size: $font-size-base * (4 * $typo-grid-interval);
	line-height:  $line-height-base * 4;
	padding-top: $padding-xl;
	padding-bottom: $padding-lg;
}
h2 {
	font-family: inherit;
	font-size: $font-size-base * (3 * $typo-grid-interval);
	line-height:  $line-height-base * 3;
	padding-top: $padding-lg;
	padding-bottom: $padding-md;
}
h3 {
	font-family: inherit;
	font-size: $font-size-base * (2 * $typo-grid-interval);
	line-height:  $line-height-base * 3;
	padding-top: $padding-md;
	padding-bottom: $padding-sm;
}
h4 {
	font-family: inherit;
	font-size: $font-size-base * (1 * $typo-grid-interval);
	line-height:  $line-height-base * 1;
	padding-top: $padding-sm;
	padding-bottom: $padding-xs;
}
h5 {
	font-size: $font-size-base;
	line-height:  $line-height-base;
	line-height:  $line-height-base;
	padding-top: $padding-xs;
	padding-bottom: $padding-none;
	font-style: italic;
}
h6 {
	font-family: $font-teriary;
	font-size: $font-size-base;
	line-height:  $line-height-base;
	padding-top: $padding-lg;
	padding-bottom: $padding-lg;
	font-weight: 900;
}
h1 small, h2 small, h3 small,
h4 small, h5 small, h6 small {}





/**
 * links
 */
a:link {}
a:visited {}
a:hover {}
a:active {}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}





/** 
 * paragraphs
 */
p {
	font-family: $font-secondary;
	font-size: $font-size-base;
	line-height:  $line-height-base;
	font-weight: $font-weight-base;
	font-style: $font-style-base;
	padding-bottom: $padding-md;
}
p small {
	font-style: italic;
}





/**
 * lists
 */
ul {
	list-style: disc;
	margin-top: $margin;
	margin-bottom: $margin;
	font-family: $font-primary;
}
li {
	display: list-item;
	list-style-position: inside;
	padding-left: $padding;
}





/**
 * definition lists
 */
dl {
	position: relative;
	display: block;
}
dt {
	margin-top: $margin;
	margin-bottom: $margin;
}
dd {
	margin-left: $margin;
}





/**
 * appendable classes
 */
.text-right { text-align: right; }
.text-italic { font-style: italic; }
.text-center { text-align: center; }

